.row-fluid.devise_common
  .span12
    %h3 로그인
    .title-bar-thin
    .title-bar-thick
.row-fluid.devise_common
  .span3
  .span6
    .fields-box
      .div-width300
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] 
          = content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice]
          = content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert]
          .field
            = f.label :student_number, "학번"
            = f.text_field :student_number, :autofocus => true
          .field
            = f.label :password, "비밀번호"
            = f.password_field :password
          -if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me, class: 'inline'
              = f.label :remember_me, "아이디 기억하기", class: 'inline'
          .field
            = f.submit "로그인", class: 'btn btn-success'
          .field
            = link_to "교수 로그인", "/professors/sign_in", class: 'btn btn-info a-white'
          .field
            = render "devise/shared/links"
  .span3
