.row-fluid
  .span12
    %h3 공지사항
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span2
  .span8
    .none-style-link
      - @notices.each do |notice|
        .square-box
          .square-box-title
            = link_to notice.name, course_notice_path(notice.course, notice)
            .square-box-title-right
              %span= "#{notice.created_at}, #{notice.professor.name}"
          .square-box-info
            %p= notice.content
            .square-box-more
              = link_to course_notice_path(notice.course, notice), class: "btn btn-inverse a-white" do
                %i.icon-plus-sign
                %span 더보기
  .span2
