.row-fluid
  .span12
    %h3 공지사항
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span2
  .span8
    .square-box
      .square-box-title
        %span= @notice.name
      .square-box-subinfo.pull-right
        %span= "#{@notice.updated_at}, #{@notice.professor.name}"
      .square-box-info
        %p= @notice.content
  .span2
