.row-fluid.assignments
  .span12
    %h3 제출 목록
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span3
    %h4 과제선택
    .btn-group
      = link_to @subject.name, new_problem_assignment_path(@subject.problems.first), class: "btn"
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %span.caret
      %ul.dropdown-menu
        - @subjects.each do |subject|
          %li
            = link_to subject.name, problem_assignments_path(subject.problems.first)
  .span3
    %h4 문제선택
    .btn-group
      = link_to @problem.name, new_problem_assignment_path(@problem), class: "btn"
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %span.caret
      %ul.dropdown-menu
        %li
          - @problems.each do |problem|
            = link_to problem.name, problem_assignments_path(problem)
  .span6
    - if professor_signed_in?
      %h4 날짜선택
      .date-search
        = date_field_tag "start_date", nil, placeholder: "시작날짜", value: @start_date
        %strong ~
        = date_field_tag "end_date", nil, placeholder: "종료날짜", value: @end_date
        %span{id: "search_btn", class: "btn btn-10pxup", onclick: "search_by_date();"} 검색
.row-fluid.assignments
  .span12
    - if @assignments.any?
      %table.table.table-striped
        %thead
          %tr
            %th 제출번호
            %th 학번
            %th 상태
            %th 제출일
            %th 결과보기
        %tbody
          - @assignments.each_with_index do |assignment, index|
            %tr{class: assignment.state}
              %td= index
              %td= assignment.student.student_number
              %td= assignment.state
              %td= time_localize_dateTime(assignment.created_at)
              %td
                = link_to "결과보기" , [@problem, assignment], class: 'btn btn-info'
                - if professor_signed_in?
                  = link_to "삭제", [@problem,assignment], method: 'delete', class: 'btn btn-danger'
    - else
      %p 문제에 제출된 결과가 존재하지 않습니다.
.blank
