.row-fluid.assignments
  .span12
    %h3 제출 목록
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span4
    %h4 주제
    = collection_select(:assignment, :subject_id, @subjects, :id, :title)
    /
      %select
        %option 이거슨 샘플입니다
        %option 이것도 샘플입니다
        %option This is Sample
        %option Is this sample??
  .span4
    %h4 문제
    = collection_select(:assignment, :problem_id, @problems, :id, :title)
    /
      %select
        %option 샘플의 귀환
        %option 리턴 오브 샘플
        %option 노모어 샘플
    = link_to "검색", "#", id: "assignments_search_btn", class: "btn btn-primary move-10px-to-top"
  .span4
.row-fluid.assignments
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th 제출번호
          %th 상태
          %th 소요시간
          %th 메모리 사용량
          %th 결과보기
      %tbody
        - @assignments.each_with_index do |assignment, index|
          %tr{class: assignment.state}
            %td= index
            %td= assignment.state
            %td= "#{assignment.lead_time}ms"
            %td= "#{assignment.memory_usage}KB"
            %td= link_to "결과보기" , assignment_path(assignment), class: 'btn btn-info'
.blank
