.row-fluid.assignments
  .span12
    %h3 제출 목록
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span4
    %h4 과제선택
    .btn-group
      = link_to @subject.name, new_problem_assignment_path(@subject.problems.first), class: "btn"
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %span.caret
      %ul.dropdown-menu
        - @subjects.each do |subject|
          %li
            = link_to subject.name, problem_assignments_path(subject.problems.first)
    /= collection_select(:assignment, :subject_id, @subjects, :id, :title)
    /
      %select
        %option 이거슨 샘플입니다
        %option 이것도 샘플입니다
        %option This is Sample
        %option Is this sample??
  .span4
    %h4 문제선택
    .btn-group
      = link_to @problem.name, new_problem_assignment_path(@problem), class: "btn"
      %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
        %span.caret
      %ul.dropdown-menu
        %li
          - @problems.each do |problem|
            = link_to problem.name, problem_assignments_path(problem)
    /= collection_select(:assignment, :problem_id, @problems, :id, :title)
    /
      %select
        %option 샘플의 귀환
        %option 리턴 오브 샘플
        %option 노모어 샘플
    /= link_to "검색", "#", id: "assignments_search_btn", class: "btn btn-primary move-10px-to-top"
  .span4
.row-fluid.assignments
  .span12
    - if @assignments.any?
      %table.table.table-striped
        %thead
          %tr
            %th 제출번호
            %th 학번
            %th 상태
            %th 소요시간
            %th 메모리 사용량
            %th 결과보기
        %tbody
          - @assignments.each_with_index do |assignment, index|
            %tr{class: assignment.state}
              %td= index
              %td= assignment.student.student_number
              %td= assignment.state
              %td= "#{assignment.lead_time}ms"
              %td= "#{assignment.memory_usage}KB"
              %td
                = link_to "결과보기" , [@problem, assignment], class: 'btn btn-info'
                = link_to "삭제", [@problem,assignment], method: 'delete', class: 'btn btn-danger'
    - else
      %p 문제에 제출된 결과가 존재하지 않습니다.
.blank
