= form_for @assignment, url: problem_assignments_path(@problem), html: { multipart: true } do |assignment|
  .row-fluid
    .span12
      %h3 과제제출
      .title-bar-thin
      .title-bar-thick
  .row-fluid.assignments
    .span1
    .span10
      %span.title 과제선택
      .btn-group
        = link_to @subject.name, new_problem_assignment_path(@subject.problems.first), class: "btn"
        %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
          %span.caret
        %ul.dropdown-menu
          - @subjects.each do |subject|
            %li
              = link_to subject.name, new_problem_assignment_path(subject.problems.first)
      .square-box
        .square-box-title
          %span= @subject.name
          .square-box-title-right-btn
            = link_to "설명보기", @subject, class: "btn btn-info"
        .square-box-info

          %p
            제출기한 :
            - @subject.deadlines.each do |deadline|
              = "#{deadline.start} ~ #{deadline.end}" + (deadline.penalty.to_i > 0 ? "페널티 : #{deadline.penalty.to_s}" : "" )
      .bar
    .span1


  .row-fluid.assignments
    .span1
    .span10
      %span.title 문제선택
      .btn-group
        = link_to @problem.name, new_problem_assignment_path(@problem), class: "btn"
        %a.btn.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
          %span.caret
        %ul.dropdown-menu
          %li
            - @problems.each do |problem|
              = link_to problem.name, new_problem_assignment_path(problem)
      .square-box
        .square-box-title
          %span= @problem.name
        .square-box-info
          %p= @problem.content
      .bar
    .span1

  .row-fluid.assignments
    .span1
    .span10
      %span.title 파일 업로드
      = assignment.fields_for :file_infos do |file_info|
        = render "assignments/file_info_fields", f: file_info
      /= link_to_add_fields "파일 추가", assignment, :assignments, :file_infos
      /= assignment.hidden_field :problem_id, value: @problem.id
      .uploaded-files
        .file
          %i.icon-file
          %span 파일 이름
      .bar
      = assignment.submit "제출", class: "btn btn-success width150"
    .span1

.blank
