.row-fluid
  .span12
    %h3 제출 결과 #{@subject.order}. #{@subject.title}, #{@problem.order}) #{@problem.title}
    .title-bar-thin
    .title-bar-thick
.row-fluid.assignments
  .span6
    %h4 입력데이터
    %textarea#input-data-box
      %pre.prettyprint.linenums
        = @problem.input_data
  .span6
    %h4 제출 결과
    %table.table.table-stripted
      %tbody
        %tr
          %td 제출 시간
        %tr
          %td= @assignment.created_at
        %tr
          %td 채점 상태 
        %tr
          %td= @assignment.state
        %tr
          %td 메모리 사용량
        %tr
          %td= @assignment.memory_usage
        %tr
          %td 걸린 시간
        %tr
          %td= @assignment.lead_time
        %tr.info
          %td
            %h4="총점 : #{@assignment.score} 점(100점 만점)"

.row-fluid
  .span12
    .bar

.row-fluid.assignments
  .span6
    %h4 모범 답안
    %textarea#sample-box
      %pre.prettyprint.linenums
        = @assginment.model_paper
  .span6
    %h4 제출 답안
    %textarea#sample-box
      %pre.prettyprint.linenums
        = @assignment.result

.row-fluid
  .span12
    .bar

.row-fluid
  .span12
    %h4 오류 시 컴파일 에러 출력
    /.hero-unit= @assignment.compile_message
    %textarea#compile-message-box
      .hero-unit=@assignment.compile_message

.blank

