.row-fluid
  .span12
    %h3 #{@subject.order} #{@subject.name}, #{@problem.order} #{@problem.name} 제출 결과
    .title-bar-thin
    .title-bar-thick
.row-fluid.assignments
  .span6
    %h4 입력데이터
    %pre.prettyprint.linenums#input-data-box
      = @problem.input_data
  .span6
    %h4 제출 결과
    %table.table.table-stripted
      %tbody
        %tr
          %td 제출 시간
        %tr
          %td= time_localize_dateTime(@assignment.created_at)
        %tr
          %td 채점 상태
        %tr
          %td= @assignment.state
        %tr
          %td 메모리 사용량
        %tr
          %td= @assignment.memory_usage
        %tr
          %td 걸린 시간
        %tr
          %td= @assignment.lead_time
        %tr.info
          %td
            %h4="총점 : #{@assignment.score} 점(10점 만점)"

.row-fluid
  .span12
    .bar

.row-fluid.assignments
  .span6
    %h4 모범 답안
    %pre.prettyprint.linenums#sample-box
      = @problem.model_paper
  .span6
    %h4 채점 결과
    %pre.prettyprint.linenums#sample-box
      = @assignment.result

.row-fluid
  .span12
    .bar

.row-fluid
  .span12
    %h4 교수님 한마디
    .square-box
      - @comments.each do |comment|
        .square-box-info
          %p= simple_format(comment.content)
        .square-box-under-info
          %span= "#{comment.professor.name} #{time_localize_dateTime(comment.created_at)}"
          = link_to "삭제", [@assignment, comment], method: "delete", class: "btn btn-small btn-alert"
        .square-box-clear

    .square-box
      = form_for @comment, url: [@assignment, @comment] do |comment|
        .square-box-info
          = comment.text_area :content
        .square-box-under-info
          = comment.submit "등록", class: "btn btn-small btn-primary"
        .square-box-clear

.row-fluid
  .span12
    = link_to "과목 페이지로 돌아가기", @course, class: "btn btn-primary"

.nk
