.row-fluid
  .span6
    %span "#{@subject.order}. #{@subject.title}, #{@problem.order}) #{@problem.title}"
    %h3 제출 결과

.row-fluid
  .span6
    %p 입력값
    %pre.prettyprint.linenums
      = @assignment.input_data
  .span6
    %p 결과
    %dl.dl-horizontal
      %dt 제출 시간
      %dd= @assignment.created_at
      %dt 채점 상태
      %dd= @assignment.state
      %dt 메모리 사용량
      %dd= @assignment.memory_usage
      %dt 걸린 시간
      %dd= @assignment.lead_time
    %h4= "총점 : #{assignment.score} 점(100점 만점)"

.row-fluid
  .span6
    %span 모범 답안
    %pre.prettyprint.linenums
      = @problem.model_paper
  .span6
    %span 결과 답안
    %pre.prettyprint.linenums
      = @assignment.result

.row-fluid
  .span12
    %p 오류 시 컴파일 에러 출력
    .hero-unit= @assignment.compile_message
