.navbar.navbar-inverse
  .navbar-inner
    .container
      = link_to "SkyNet", @current_user_course, class: "brand"
      %ul.nav
        %li.active
          /= link_to current_user.name
        %li.active
          - if student_signed_in?
            = link_to "로그아웃", destroy_student_session_path, :method => :delete
          - elsif professor_signed_in?
            = link_to "로그아웃", destroy_professor_session_path, :method => :delete
      .choose_class.pull-right
        %ul.nav
          %li.active
            = link_to "수업 리스트 보기", courses_path
        - if @current_user_courses.any?
          .btn-group
            = link_to @current_user_course.name, @current_user_course, class: "btn"
            %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
              %span.caret
            %ul.dropdown-menu
              - @current_user_courses.each do |course|
                %li
                  = link_to course.name, course
