.navbar.navbar-inverse
  .navbar-inner
    .container
      = link_to "SkyNet", @current_user_course, class: "brand"
      %ul.nav
        %li.active
          /= link_to current_user.name
        %li.active
          - if student_signed_in?
            = link_to "로그아웃", destroy_student_session_path, :method => :delete
          - elsif professor_signed_in?
            = link_to "로그아웃", destroy_professor_session_path, :method => :delete
      - if @current_user_courses.any?
        .choose_class.pull-right
          .btn-group
            %button.btn
              = link_to @current_user_course.name, @current_user_course
            %button.btn.dropdown-toggle{ data: { toggle: "dropdown" } }
              %span.caret
              %ul.dropdown-menu
                - @current_user_courses.each do |course|
                  %li
                    = link_to course.name, course
