.row#subjects-new-problems
  .span1
  .span10.problem-index
    %h3 문제 목록
    .title-bar-thin
    .title-bar-thick
    %table.table.table-striped.align-center
      %thead
        %tr
          %th 차례
          %th 제목
          %th 설명
          %th 순서
          %th 삭제
      %tbody
        - @problems.each do |problem|
          %tr
            %td= problem.order
            %td= problem.title
            %td= problem.about
            %td
              .btn-group
                %button.btn
                  %span.caret
                %button.btn.dropup
                  %span.caret
            %td
              = link_to "삭제", destroy_problem_path(problem), class: "btn btn-danger", method: "delete"

    = link_to "새로 만들기", new_subject_problem_path, class: "btn btn-success width150"
  .span1
