.row-fluid
  .span12
    %h3 새로운 문제
    = link_to "과제페이지로 가기", [@course, @subject], class: "btn btn-primary"
    .title-bar-thin
    .title-bar-thick

.row-fluid
  .span2
  .span8.input-style
    = form_for [@subject, @problem] do |problem|
      .fields-box
        .div-width400
          = problem.hidden_field :subject_id, value: params[:subject_id]
          .field
            = problem.label :name, "제목"
            = problem.text_field :name
          .field
            = problem.label :content, "설명"
            = problem.text_area :content
        .bar

        .div-width400
          %h4 채점기준
          .field
            = problem.fields_for :criterions do |c|
              = render 'problems/criterion_fields', f: c
          .field
            = link_to_add_fields "추가", problem, :problems, :criterions
        .bar

        .div-width400
          %h4 스크립트 파일
          .field
            = problem.file_field :script

        .div-width400
          %h4 관련 파일
          .field
            = problem.fields_for :file_infos do |f|
              = render 'problems/file_info_fields', f: f
          .uploaded-files
            .file
              %i.icon-file
              %span 파일 이름
        .bar

        .div-width400
          %h4 컴파일 커맨드
          .field
            = problem.text_field :compile_command, value: "lua"
        .bar

        .div-width400
          %h4 입력데이터
          .field
            = problem.text_area :input_data
        .bar

        .div-width400
          %h4 모범답안
          .field
            = problem.text_area :model_paper
        .bar

        .div-width400
          .field
            = problem.submit "생성", class: "btn btn-success submit400"
  .span2
