.row-fluid
  .span12
    %h3 새로운 문제
    .title-bar-thin
    .title-bar-thick

.row-fluid
  .span2
  .span8.input-style
    = form_for Problem.new do |f|
      .fields-box
        .div-width400
          = f.hidden_field :subject_id, value: params[:subject_id]
          .field
            = f.label :name, "제목"
            = f.text_field :name
          .field
            = f.label :content, "설명"
            = f.text_area :content
        .bar

        .div-width400
          %h4 채점기준
          .field
            = fields_for :criterions do |c|
              = render 'problems/criterion_fields', f: c
          .field
            = link_to_add_fields "추가", f, :problems, :criterions
        .bar

        .div-width400
          %h4 스크립트 파일
          .field
            = fields_for :file_infos do |f|
              = render 'problems/file_info_fields', f: f
          /
            .field
              = link_to_add_fields "추가", f, :problems, :file_infos
        .bar

        .div-width400
          %h4 입력데이터
          .field
            = f.text_area :input_data
        .bar

        .div-width400
          %h4 모범답안
          .field
            = f.text_area :model_paper
        .bar

        .div-width400
          .field
            = f.submit "생성", class: "btn btn-success submit400"
  .span2
