.row
  .span12.new-problem
    = form_for Problem.new do |f|
      %h3
        새로운 문제
        %h4
          제목
          = f.text_field :title
        %h4
          설명
          = f.text_area :about

      %h3 채점기준
      = f.field_for :criterions do |c|
        = render 'problems/criteria_fields'
      = link_to_add_fields "추가", f, :criterions

      .span6
        %h3 입력데이터
        = f.text_area :input_data
      .span6
        %h3 모범답안
        = f.text_area :model_paper
