.row
  .span12.new-problem
    = form_for Problem.new do |f|
      = f.hidden_field :subject_id, value: params[:subject_id]
      %h3
        새로운 문제
        %h4
          제목
          = f.text_field :title
        %h4
          설명
          = f.text_area :about

      %h3 채점기준
      = f.fields_for :criterions do |c|
        = render 'problems/criterion_fields', f: c
      = link_to_add_fields "추가", f, :problems, :criterions

      %h3 스크립트 파일
      = f.fields_for :file_infos do |s|
        = render 'problems/file_info_fields', f: c
      = link_to_add_fields "추가", f, :problems, :file_infos

      .span6
        %h3 입력데이터
        = f.text_area :input_data
      .span6
        %h3 모범답안
        = f.text_area :model_paper

      = f.submit "만든다!!", class: "btn btn-success"
