.row-fluid.devise_common
  .span12
    %h3 확인 메일 재전송
    .title-bar-thin
    .title-bar-thick
.row-fluid.devise_common
  .span3
  .span6
    .fields-box
      .div-width300
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = devise_error_messages!
          .field  
            = f.label :email
            = f.email_field :email, :autofocus => true
          .field  
            = f.submit "확인 메일 재전송", class: 'btn btn-info'
        = render "devise/shared/links"
