.row-fluid
  .span12
    %h3 과제 생성
    .title-bar-thin
    .title-bar-thick
.row-fluid.input-style
  .span2
  .span8
    .fields-box
      .div-width400
        = form_for [@course, @subject], multipart: true do |subject|
          %h4 과제 기본 내용 설정
          .control-group
            .field
              = subject.label :name, "과제명", class: "control-label"
              .controls
                = subject.text_field :name, placeholder: "과제명을 입력하세요."
            .field
              = subject.label :content, "과제 내용", class: "control-label"
              .controls
                = subject.text_area :content
          .bar

          %h4 과제 파일 추가
          .field
            = subject.fields_for :file_infos do |file_info|
              = render "subjects/file_info_fields", f: file_info
            - unless multiple_file_supported?
              = link_to_add_fields "추가", subject, :subjects, :file_infos
          .bar

          %h4 제출 기한 설정
          .field
            = subject.fields_for :deadlines do |deadline|
              = render "subjects/deadline_fields", f: deadline
            = link_to_add_fields "추가", subject, :subjects, :deadlines
          .bar

          .filed
            = subject.submit "문제 만들기", class: "btn btn-success submit400"

/          .tabbable.tabs-left
/          %ul.nav.nav-tabs
/            %li.active
/              %a{ href: "#tab1", data: { toggle: "tab" } } 기본정보
/            %li
/              %a{ href: "#tab2", data: { toggle: "tab" } } 과제안내
/            %li
/              %a{ href: "#tab3", data: { toggle: "tab" } } 관련파일
/            %li
/              %a{ href: "#tab4", data: { toggle: "tab" } } 문제설정
/          .tab-content
/            = form_for Subject.new do |subject|
/
/              #tab1.tab-pane.active
/                /= render partial: "subjects/basic"
/              #tab2.tab-pane
/                /= render partial: "subjects/about"
/              #tab3.tab-pane
/                /= render partial: "layouts/shared/fileupload"
/              #tab4.tab-pane
/                /= render partial: "subjects/problems"
