.row-fluid#subjects-show
  .span3
    %h4 주제목록
    %ul.nav.nav-tabs.nav-stacked
      - @subjects.each_with_index do |subject, index|
        %li{ class: ("active" if index == 1) }
          = link_to "#{index}. #{subject.title}", subject_path(subject)

  .span9
    .row-fluid
      .span6
        %h4 주제내용
      .span6
        = link_to "편집", edit_subject_path(@subject), class: "btn btn-warning pull-right"
    .title
      - if @subject.deadlines.last.to < Time.now
        .alert
          %button.close{data: { dismiss: "alert"}}  &times
          %span 본 주제는 마감되었습니다.
    %h3= @subject.title
    .date
      - @subject.deadlines.each_with_index do |deadline, index|
        - if index == 1
          %p= "제출기한 : #{deadline.from} ~ #{deadline.to}"
        - else
          %p= "추가제출 : #{deadline.from} ~ #{deadline.to}, 페널티 : #{deadline.penalty}"
    .about
      %h4 주제 소개
      %p= @subject.about
    .files
      %h4 관련 파일
      %ul.file_down
        - @subject.file_infos.each do |file_info|
          %li
            %span= file_info.file.identifier
            = link_to "내려받기", '#', class: "btn btn-primary pull-right"
    .problems
      %h4 문제
      %ul.file_upload
        - @subject.problems.each_with_index do |problem, index|
          %li
            %span= "#{index}. #{problem.title}"
            = link_to "제출하기", new_assignment_path(subject_id: @subject.id, problem_id: problem.id), class: "btn btn-success pull-right"
            %p= problem.about
