.row-fluid#subjects-show
  .span3
    %ul.nav.nav-list.bs-docs-sidenav
      %li.nav-header 주제목록
      - @subjects.each_with_index do |subject, index|
        %li{class: ("active" if subject.id.to_i == params[:id].to_i)}
          = link_to "#{index + 1}. #{subject.name}", subject
  .span9
    .square-box
      .sqaure-box-title
        %span 주제내용
        .spaure-box-title-right-btn
          = link_to "편집", edit_subject_path(@subject), class: "btn btn-warning pull-right"
      - if @subject.deadlines.last.end < Time.now
        .square-box-subinfo
          .alert.alert-warning
            %button.close{data: { dismiss: "alert"}}  &times
            %span 본 주제는 마감되었습니다.
      .square-box-info
        %h3= @subject.name
        .date
          - @subject.deadlines.each_with_index do |deadline, index|
            - if index == 0
              %p= "제출기한 : #{time_localize_dateTime(deadline.start)} ~ #{time_localize_dateTime(deadline.end)}"
            - else
              %p= "추가제출 : #{time_localize_dateTime(deadline.start)} ~ #{time_localize_dateTime(deadline.end)}, 페널티 : #{deadline.penalty}"
        .about
          %h4 주제 소개
          %p= simple_format(@subject.content)
        .files
          %h4 관련 파일
          - if @subject.file_infos.empty?
            %h5 관련 파일이 없습니다.
          - else
            %ul.file_down
              - @subject.file_infos.each do |file_info|
                %li
                  %span= file_info.name
                  = link_to "내려받기", '#', class: "btn btn-primary"
        .problems
          %h4 문제
          %ul.file_upload
            - @subject.problems.each_with_index do |problem, index|
              %li
                %span= "#{index + 1}. #{problem.name}"
                = link_to "제출하기", new_problem_assignment_path(problem), class: "btn btn-success pull-right"
                %p= problem.content
