#course_wrapper
  .row
    .span12
      %h2 과목 수정
      .bar
      =form_for(Course.new) do |f|
        .field
	  = f.label :name, "과목명"
	  = f.text_field :name, :autofocus => true
        .field
          = f.label :professor, "담당 교수"
	  = f.text_field :professor
        .field
          = f.label :year, "년도"
	  = f.text_field :year
	.field
	  = f.label :term, "학기"
	  = f.text_field :term
	.field
	  = f.label :about, "설명"
	  = f.text_area :about
        .field
          = f.submit "수정", class: 'btn btn-primary'
          
