.row-fluid
  .span12
    %h3 수업 리스트
    - if professor_signed_in?
      = link_to "새로 만들기", new_course_path, class: "btn btn-primary pull-right move-40px-to-top"
    .title-bar-thin
    .title-bar-thick
.row-fluid
  .span1
  .span10
    - @courses.each do |course|
      .square-box
        .square-box-title
          - if professor_signed_in? && is_this_mine?(current_professor, :courses, course)
            = link_to course.name, course
          - if student_signed_in?
            %span= course.name
            .square-box-title-right-btn
              = link_to '수업 선택', select_course_student_path(current_student, course_id: course.id),method: :post,  class: 'btn btn-info'
        .square-box-subinfo
          %span= "#{course.year}년도 #{course.term}학기 #{course.professor.name} 교수님"
        .square-box-info
          %span= truncate(course.content, length: 40, seperator: ' ')
  .span1
