.row-fluid
  .span12
    %h3 수업 리스트
    .bar
    %dl
      - @courses.each do |course|
        = link_to course do
          %dt= course.name
        %dd
          %p= "#{course.year}년도 #{course.term}학기 #{course.professor.name} 교수님"
          %p= course.about
