.row-fluid
  .span12
    .class-title
      %span= "#{@course.year.to_s}년 #{@course.term.to_s}학기 #{@course.name}"
      .buttons.pull-right
        - unless @current_subjects.first.nil? || @outdate_subjects.nil?
          = link_to "과제보기", @current_subjects.first || @outdate_subjects.first, class: "btn btn-info"
        - else
          = link_to "과제없음", @current_course, class: "btn btn-info disabled"

        - unless @current_subjects.first.nil? || @current_subjects.first.problems.first.nil?
          = link_to "제출하기", new_problem_assignment_path(@current_subjects.first.problems.first), class: "btn btn-success"
        - else
          = link_to "제출없음", @current_course, class: "btn btn-success disabled"

        - unless @current_subjects.first.nil? || @current_subjects.first.problems.first.nil?
          = link_to "결과보기", assignments_path(@current_subjects.first.problems.first), class: "btn btn-primary"
        - else
          = link_to "결과없음", @current_course, class: "btn btn-primary disabled"

        - if professor_signed_in?
          = link_to "과목삭제", @current_course, method: "delete", class: "btn btn-danger"

    .title-bar-thin
    .title-bar-thick

.row-fluid
  .span7
    .square-box
      .square-box-title
        %span 최신 공지사항
        - if professor_signed_in?
          .square-box-title-right-btn
            = link_to "새로 만들기",  new_course_notice_path(@course), class: "btn btn-primary"
      .square-box-info
        %table.table.table-hover.table-striped
          - if @latest_notice.empty?
            %tr 최신 공지사항이 없습니다.
          - @latest_notice.each do |notice|
            %tr
              %td
                .notice-title
                  = link_to [@course, notice] do
                    %span.title= notice.name
                    %span.date= time_localize_date(notice.created_at)
                .notice-detail
                  %p= truncate(notice.content, length: 40, seperator: ' ')
  .span5
    .square-box
      .square-box-title
        %span 현재 진행중인 과제
        - if professor_signed_in?
          .square-box-title-right-btn
            = link_to "새로 만들기",  new_course_subject_path(@course), class: "btn btn-primary pull-right"
      .square-box-info
        %ul.subject-list#ongoing-subject
          - if @current_subjects.empty?
            %li 현재 진행중인 과제가 없습니다.
          - @current_subjects.each do |subject|
            %li
              .subject
                %span.title= subject.name
                .btn-group.pull-right
                  = link_to "설명", [@course, subject], class:"button btn btn-small btn-primary"
                .problem
                  - subject.problems.each_with_index do |problem, index|
                    = link_to "#{index + 1}. #{problem.name}", new_problem_assignment_path(problem)

    .square-box
      .square-box-title
        %span 완료된 과제
      .square-box-info
        %ul.subject-list#outdate-subject
          - @outdate_subjects.each do |subject|
            %li
              .subject
                %span.title= subject.name
                .btn-group.pull-right
                  = link_to "설명", subject, class:"button btn btn-small btn-primary"
                .problem
                  - subject.problems.each_with_index do |problem, index|
                    = link_to "#{index + 1}. #{problem.name}", subject_problem_path(subject, problem)
