!!!
%html
  %head
    %title 스카이넷 - 과제 제출 웹서비스
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :modernizr
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    - unless Devise.constants.include? controller.class.name.split('::').last.classify.to_sym
      .header
        = render 'layouts/shared/header'

    .container
      - if flash[:notice]
        .alert.alert-info
          %button.close{ type: "button", data: { dismiss: "alert"}} &times;
          = flash[:notice]

      - if flash[:success]
        .alert.alert-success
          %button.close{ type: "button", data: { dismiss: "alert"}} &times;
          = flash[:success]

      - if flash[:alert]
        .alert.alert-warning
          %button.close{ type: "button", data: { dismiss: "alert"}} &times;
          = flash[:alert]

      - if flash[:error]
        .alert.alert-danger
          %button.close{ type: "button", data: { dismiss: "alert"}} &times;
          = flash[:error]
      = yield
